* {
  margin: 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  height: 60%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  width: 400px;
  background: rgb(250, 225, 244);
  padding-left: 40px;
  padding-right: 40px;
}
.container-left {
  height: 60%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  width: 400px;
  background: white;
  padding-left: 40px;
  padding-right: 40px;
}
header {
  font-size: 40px;
  margin: 40px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.input-field,
form .button {
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input {
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: 0.4s;
}
input:focus {
  border: 1px solid #1da1f2;
}
.input-field label,
span.show {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label {
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: 0.4s;
}
span.show {
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: "Open Sans", sans-serif;
}
input:valid ~ span.show {
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label {
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #1da1f2;
}
form .button {
  margin-top: 30px;
  overflow: hidden;
  z-index: 111;
}
.button .inner {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -1;
  transition: all 0.4s;
  background: #574355;
}
.button:hover .inner {
  left: 0;
}
.button button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.container .auth {
  margin: 35px 0 20px 0;
  font-size: 19px;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  display: flex;
  cursor: pointer;
}
.facebook,
.google {
  height: 40px;
  width: 100%;
  border: 1px solid silver;
  border-radius: 3px;
  margin: 0 10px;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facebook:hover {
  border: 1px solid #4267b2;
}
.google:hover {
  border: 1px solid #dd4b39;
}
.facebook i,
.facebook span {
  color: #4267b2;
}
.google i,
.google span {
  color: #dd4b39;
}
.links i {
  font-size: 23px;
  line-height: 40px;
  margin-left: -90px;
}
.links span {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  padding-left: 8px;
  font-family: "Open Sans", sans-serif;
}
.signup {
  margin: 50px;
  font-family: "Noto Sans", sans-serif;
}
.signup a {
  color: #3498db;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
@media (max-width: 820px) {
  .button button {
    width: 60%;
    height: 100%;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .container-left {
    position: relative;
    width: 300px;
    margin: 0;
  }
  .container {
    position: relative;
    width: 300px;
    margin: 0;
  }
  .links span {
    font-size: 11px;
  }
  .links i {
    font-size: 13px;
    margin-right: -14px;
  }
}
